In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df['Target'].value_counts()

4    5996
2    1597
3    1209
1     755
Name: Target, dtype: int64

In [4]:
corr_matrix = df.corr()
corr_matrix['Target'].sort_values(ascending=False)

Target          1.000000
meaneduc        0.335203
cielorazo       0.304421
escolari        0.302305
SQBescolari     0.296577
                  ...
overcrowding   -0.289110
SQBhogar_nin   -0.311186
r4t1           -0.316745
hogar_nin      -0.328199
elimbasu5            NaN
Name: Target, Length: 141, dtype: float64

In [5]:
df.drop(['rez_esc','v18q1','v2a1'],axis=1,inplace=True)

In [6]:
df.isnull().sum().sort_values(ascending=False).head(20)

SQBmeaned          5
meaneduc           5
Target             0
public             0
sanitario3         0
sanitario2         0
sanitario1         0
coopele            0
0elec              0
planpri            0
abastagua0         0
sanitario6         0
abastaguafuera     0
abastaguadentro    0
cielorazo          0
techootro          0
techocane          0
sanitario5         0
energcocinar1      0
techozinc          0
dtype: int64

In [7]:
df['meaneduc'] = df['meaneduc'].fillna(df['meaneduc'].mean())
df['SQBmeaned'] = df['SQBmeaned'].fillna(df['SQBmeaned'].mean())
df.drop(['Id'],axis=1,inplace=True)
df.drop('idhogar',axis=1,inplace=True)

In [8]:
x = df.drop('Target',axis=1)
x.shape

(9557, 137)

In [9]:
y = df['Target']

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.20)

In [11]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [12]:
y_train = pd.get_dummies(y_train,drop_first=True)

In [13]:
y_test = pd.get_dummies(y_test,drop_first=True)

In [14]:
y_test

      2  3  4
8503  1  0  0
7752  0  0  0
9350  0  0  0
8414  0  1  0
7671  1  0  0
...  .. .. ..
7415  0  0  1
3290  0  0  1
4161  0  0  1
4870  0  0  1
7640  0  0  1

[1912 rows x 3 columns]

In [34]:
import keras 
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.optimizers import SGD

In [36]:
from keras.layers.convolutional import Convolution2D,MaxPooling2D
from keras.layers import Flatten

In [40]:
model = Sequential()
model.add(Convolution2D(32,3,data_format='channels_last',activation='relu'))
model.add(MaxPooling2D())

In [30]:
from tf.contrib.layers import convolution2d

ModuleNotFoundError: No module named 'tf'

In [16]:
# model = Sequential()
# model.add(Dense(units=124,activation='relu',input_dim=137))
# model.add(Dense(units=64,activation='relu'))
# model.add(Dense(units=40,activation='relu'))
# model.add(Dense(units=3,activation='sigmoid'))
# sgd = SGD(lr=0.01,decay=1e-6,momentum=0.9,nesterov=True)
# model.compile(loss='categorical_crossentropy',optimizer=sgd,metrics=['accuracy'])

WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

In [17]:
model_history = model.fit(x_train,y_train,batch_size=3,nb_epoch=30)

WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/rutvik/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

/home/rutvik/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/30
7645/7645 [==============================] - 3s 412us/step - loss: 0.6394 - acc: 0.6997
Epoch 2/30
7645/7645 [==============================] - 3s 382us/step - loss: 0.5696 - acc: 0.7292
Epoch 3/30
7645/7645 [==============================] - 3s 383us/step - loss: 0.5105 - acc: 0.7542
Epoch 4/30
7645/7645 [==============================] - 3s 386us/step - loss: 0.4700 - acc: 0.7772
Epoch 5/30
7645/7645 [==============================] - 3s 387us/step - loss: 0.4430 - acc: 0.7901
Epoch 6/30
7645/7645 [==============================] - 3s 387us/step - loss: 0.4137 - acc: 0.7950
Epoch 7/30
7645/7645 [==============================] - 3s 401us/step - loss: 0.4204 - acc: 0.7984
Epoch 8/30
7645/7645 [==============================] - 3s 402us/step - loss: 0.4151 - acc: 0.8034
Epoch 9/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.4044 - acc: 0.7995
Epoch 10/30
7645/7645 [==============================] - 3s 390us/step - loss: 0.5296 - acc: 0.7468
Epoch 11/30
7645/7645 [==============================] - 3s 388us/step - loss: 0.5293 - acc: 0.7468
Epoch 12/30
7645/7645 [==============================] - 3s 386us/step - loss: 0.4759 - acc: 0.7638
Epoch 13/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5108 - acc: 0.7358
Epoch 14/30
7645/7645 [==============================] - 3s 386us/step - loss: 0.5840 - acc: 0.7456
Epoch 15/30
7645/7645 [==============================] - 3s 387us/step - loss: 0.5075 - acc: 0.7447
Epoch 16/30
7645/7645 [==============================] - 3s 392us/step - loss: 0.5560 - acc: 0.7346
Epoch 17/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5147 - acc: 0.7509
Epoch 18/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5132 - acc: 0.7479
Epoch 19/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5601 - acc: 0.7070
Epoch 20/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5415 - acc: 0.7385
Epoch 21/30
7645/7645 [==============================] - 3s 385us/step - loss: 0.5372 - acc: 0.7404
Epoch 22/30
7645/7645 [==============================] - 3s 387us/step - loss: 0.5242 - acc: 0.7413
Epoch 23/30
7645/7645 [==============================] - 3s 386us/step - loss: 0.5213 - acc: 0.7523
Epoch 24/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5374 - acc: 0.7240
Epoch 25/30
7645/7645 [==============================] - 3s 389us/step - loss: 0.5099 - acc: 0.7560
Epoch 26/30
7645/7645 [==============================] - 3s 387us/step - loss: 0.5374 - acc: 0.7398
Epoch 27/30
7645/7645 [==============================] - 3s 388us/step - loss: 0.5199 - acc: 0.7533
Epoch 28/30
7645/7645 [==============================] - 3s 386us/step - loss: 0.5620 - acc: 0.7278
Epoch 29/30
7645/7645 [==============================] - 3s 387us/step - loss: 0.6583 - acc: 0.6522
Epoch 30/30
7645/7645 [==============================] - 3s 390us/step - loss: 0.5789 - acc: 0.7197

In [18]:
# test_df = pd.read_csv('Featured_test.csv')

In [19]:
# test_df.shape

In [20]:
y_pred = model.evaluate(x_test,y_test)

1912/1912 [==============================] - 0s 42us/step

In [21]:
model.metrics_names

['loss', 'acc']

In [22]:
y_pred

[0.6231689675083719, 0.7248953977389315]

In [23]:
y_pre = model.predict(x_test)

In [24]:
# test_df['Target'] = pd.dataframe(y_pred)

In [25]:
y_pre

array([[0.20094839, 0.24236757, 0.980824  ],
       [1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        ],
       ...,
       [0.04203102, 0.04090151, 0.86856914],
       [0.04203102, 0.04090151, 0.86856914],
       [1.        , 1.        , 1.        ]], dtype=float32)